body {
    margin: 0;
    background-color: bisque;
    display: flex;
    flex-direction: column;
}

.main-container {
    height: 83vh;
}


.footer-container {
    width: 100%;
    text-align: center;
    align-content: center;
    height: 2vh;
    position: fixed;
    bottom: 0;
    background: rgb(253, 196, 127);
    box-shadow: -2px 2px 8px rgba(0, 0, 0, .3);
}

























.content {
    display: none;
}













.menu-button {
    display: none;
}















.logo {
    font-family: 'Sacramento', cursive;
    text-decoration: none;
    margin-left: 20px;
    font-size: 40px;
    font-weight: 700;
    color: black;
    word-wrap: none;
    min-width: max-content;
}

.logo:hover {
    transform: scale(1.01);
}














.social-media-icons {
    width: 200px;
    margin-right: 30px;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    transition: all .4s ease-in-out;
    z-index: 1;
}

.social-media-icons i {
    cursor: pointer;
}

.social-media-icons i:hover {
    transform: scale(1.1);
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.social-media-icons i:active {
    cursor: pointer;
    transform: scale(.9);
}

.imdb {
    color: rgb(189, 149, 5);
}

.facebook {
    color: rgb(0, 157, 255);
}

.youtube {
    color: red;
}

.instagram {
    color: orangered;
}

a::before {
    content: '';
    height: 2px;
    width: 100%;
    background: red;
    position: absolute;
    left: 0;
    bottom: -8px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}













#home-container.live {
    display: flex;
    align-self: center;
    justify-self: center;
    margin: auto;
    width: 65%;
    background-color: bisque;
    margin-top: 100px;
    margin-bottom: 0px;
}

#home-container.live p {
    align-content: center;
}

.main-image {
    display: block;
    margin: auto;
    width: 300px;
    border: 3px solid gray;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    resize: none;
}
















.text-container {
    color: rgb(0, 0, 0);
}























#contact-container.live {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightsteelblue;
    width: 50%;
    margin: auto;
    padding: 10px;
    padding-bottom: 20px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    transition: all 1s linear;
}

#contact-container.live p {
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
}

#contact-container.live form {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 80%;
}

input {
    border: none;
    height: 30px;
    width: 45%;
    border-radius: 2px;
    margin: 10px 0;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input::placeholder {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#message-input {
    font-family: Arial, Helvetica, sans-serif;
    height: 240px;
    border: none;
    border-radius: 2px;
    margin-top: 10px;

    font-size: 15px;
    padding-left: 10px;
    padding-top: 10px;


}

#message-input::placeholder {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.submit-btn {
    border-radius: 30px;
    background-color: coral;
    font-family: monospace;
    letter-spacing: 4px;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 20px;
}

.submit-btn:active {
    transform: scale(.98);
}

.submit-btn:hover {
    background-color: rgba(255, 127, 80, 0.85);
}























#biography-container.live {
    display: flex;
    margin: auto;
    width: 50%;
    padding-bottom: 20px;
    justify-content: center;
}

#biography-container p {
    text-indent: 25px;
}



















#resume-container.live {
    display: grid;
    grid-template-columns: 12.5% 30% 15% 30% 12.5%;
    grid-template-rows: fit-content fit-content;
    row-gap: 150px;
    padding-bottom: 20px;
}

.resume-movie-dropdowns {
    grid-column-start: 2;
    grid-column-end: 3;
}


.resume-tv-dropdowns {
    grid-column-start: 4;
    grid-column-end: 5;
}

.resume-dropdown-container {
    background: #f7f3e8;
    width: 300px;
    height: 30px;
    padding-left: 12px;
    padding-top: 4px;
    border-radius: 5px;
    font-size: 25px;
    transition: all .2s ease-in-out;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .3);
    margin: 20px 30px;

}

.long-resume-lists-container {
    grid-row-start: 2;
    grid-column-start: 2;
    column-span: 3;
}

.resume-list-movie,
.resume-list-tv {
    display: none;
    font-size: 15px;
    margin-top: 40px;
    text-align: left;
    position: relative;
    left: 20px;
    top: 10px;
}

.resume-dropdown-container:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.fa-play {
    transform: rotate(180deg);
    transition: all .2s linear;
    position: relative;
    left: 150px;
    font-size: 20px;
}

.resume-controls {
    display: flex;
    padding: 20px;
}
















#media-container.live {
    display: flex;

}

#logged-out-restriction {
    height: 150%;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    position: absolute;
}






























#blog-container.live {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.blog-post {
    background: rgb(231, 186, 82);
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 40px;
    padding: 10px;
    width: 80%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .3);
}

.blog-post-comment-container {
    background: lightgray;
    width: 98%;
    height: fit-content;
    padding: 10px;
    margin: auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid darkgrey;


}

.blog-post h2 {


    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Kalam', cursive;
    font-size: 40px;
}

.blog-post p {
    background: lightgrey;
    padding-bottom: 10px;
}
































#members-container.live {
    display: flex;
}

#members-container button {
    background: orange;
    border-radius: 5px;
    letter-spacing: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
    height: fit-content;
    padding: 10px;
}

#members-container button:hover {
    background-color: red;
}


















#name {
    margin-right: 30px;
}























@media (max-width:1400px) {
    .social-media-icons {
        display: flex;
        flex-direction: column;
        background: white;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: 15px;
        position: absolute;
        width: 25px;
        align-items: center;
        right: -33px;
        top: 140px;
        box-shadow: -2px 8px 8px rgba(0, 0, 0, 0.3);
        transition-delay: all .3s linear;
    }

    .nav-links ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        transition: all .4s ease-in-out;
    }

    .navbar {
        display: flex;
        display: space-around;
    }
}



@media (max-width: 820px) {

    .nav-links a {
        display: none;
    }

    .menu-button {
        display: block;
        font-size: 50px;

        color: grey;
    }

    .nav-marker {
        display: none;
    }

    .menu-button:hover {
        transform: scale(1.05);
        text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
        transition: all .1s linear;
    }

    .navbar {
        display: flex;
        justify-content: space-around;

    }


}